body{
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 27px;
  color: #5f3436;
}

/* logo */
.logo{
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 94px;
  height: 57px;
}
/* * logo */
/* header */
.header video{
  display: none;
}
.header{
  height: 280px;
  background:url('../img/img01.jpg') center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header h1{
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  line-height: 45px;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.header h1 span{
  font-family: 'Pacifico', 'cursive';
  font-size: 22px;
  line-height: 30px;
  text-transform: none;
}
/* * header */
/* menu */
.nav-connect{
  display: none;
}
.burger{
  width: 22px;
  height: 22px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
  transition: .5s all cubic-bezier(0.65, -0.43, 0.41, 1.53);
}
.burger span{
  position: absolute;
  width: 100%;
  height: 3px;
  background: #613B3D;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s all ease-in-out;
}
.burger span:nth-of-type(1){
  top: calc(50% - 6px);
}
.burger span:nth-of-type(3){
  top: calc(50% + 6px);
}
.burger:hover span{
  opacity: .8;
}
.burger.active span:nth-of-type(1){
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.burger.active span:nth-of-type(2){
  opacity: 0;
}
.burger.active span:nth-of-type(3){
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.menu{
  position: fixed;
  width: 100%;
  height: 0;
  top: 0px;
  overflow: hidden;
  background: #dc5f13ee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .4s all ease-in-out;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.menu a{
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  padding: 24px;
  color: white;
}
.menu li + li{
  border-top: 2px dotted #4B2427;
}
.menu li:nth-of-type(3){
  /* display: none; */
  order: -1;
  background: #ffffff;
  border-top: none;
}
.menu li:nth-of-type(3) img{
  width: 94px;
  height: 57px;
  margin-top: 1px;
}
.menu li:nth-of-type(3) a{
  padding: 0;
  text-align: center;
}
.menu a:hover{
  opacity: .8;
}
.menu.active{
  height: 338px;
}
/* * menu */
/* main */
main{
  padding: 0 20px;
}
/* main -> header */
main > header{
  text-align: center;
  border-bottom: 2px dotted #5F3436;
  padding-bottom: 20px;
}
main > header > img{
  width: 244px;
  margin: 45px 0;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: #502628;
  font-weight: normal;
  text-transform: uppercase;
}
main > header > p{
  font-size: 15px;
  line-height: 25px;
  font-style: italic;
}
/* * main -> header */
/* main -> section */
.main-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.main-section .video{
  order:-1;
  margin: 30px 0;
}
.main-section .video video{
  width: 100%;
  height: 100%;
}
main > section h3{
  font-family: 'Pacifico', 'cursive';
  font-size: 25px;
  line-height: 49px;
  color: #de6e1d;
  font-weight: normal;
  text-transform: none;
  text-align: center;
}
.partners{
  width: 100%;
  padding: 10px 0 60px;
}
.partners ul{
  list-style: none;
  padding: 0;
}
.partners li{
  display: inline-block;
  width: 32%;
  margin-bottom: 10px;
  vertical-align: middle;
}
.partners li:nth-of-type(1) img{
  width: 42px;
}
.partners li:nth-of-type(2) img{
  width: 45px;
}
.partners li:nth-of-type(3) img{
  width: 77px;
}
.partners li:nth-of-type(4) img{
  width: 46px;
}
.partners li:nth-of-type(5) img{
  width: 47px;
}
.partners li:nth-of-type(6) img{
  width: 94px;
}
.partners a:hover img{
  opacity: .8;
}
/* * main -> section */
/* aside.news */
.boite{
  display: none;
}
.news{
  padding: 20px 30px 40px;
  background: #dc5f13;
  overflow: hidden;
}
.news h4{
  font-family: 'Pacifico', 'cursive';
  font-size: 25px;
  line-height: 49px;
  color: #ffffff;
  font-weight: normal;
  text-transform: none;
}
.news a{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #502628;
  text-decoration: none;
  text-transform: uppercase;
}
.news p{
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 27px;
  color: #502628;
}
/* * aside.news */
/* footer */
body > footer{
  padding: 20px;
  background: #502628;
  text-align: center;
  color: white;
}
body > footer section{
  padding: 20px 0 50px;
}
body > footer h5{
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.footer-contact a{
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
}
.footer-contact a:hover{
  text-decoration: underline;
}
.footer-connect a{
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
  margin: 5px;
}
.footer-connect a:hover{
  opacity: .8;
}
body > footer section + section{
  border-top: 2px dotted #ffffff;
}
.footer-form input[type="email"]{
  width: 152px;
  height: 48px;
  border: 2px solid white;
  border-radius: 2px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 26px;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  background: none;
}
.footer-form input[type="submit"]{
  width: 48px;
  height: 48px;
  border: 0;
  font-size: 17px;
  line-height: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  cursor: pointer;
  vertical-align: middle;
}
.footer-form input[type="submit"]:hover{
  opacity: .8;
}
/* * footer */
/* aside.map */
.map{
  height: 180px;
  background:url('../img/new-map-2x-640x328.jpg') center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map a{
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.map a:before{
  content: "";
  display: inline-block;
  width: 22px;
  height: 32px;
  background: url('../img/new-map-pointer.png') no-repeat #502628;
  vertical-align: top;
  margin-right: 10px;
}
.map a:hover{
  color: #DC5F13;
}
/* * aside.map */


/* @media screen 768px */
@media screen and (min-width: 768px){
  body > header {
    height: 400px;
  }
  header h1{
    font-size: 54px;
    line-height: 82px;
  }
  header h1 span{
    font-size: 35px;
    line-height: 49px;
  }
  /* * header */
  /* main */
  main{
    padding: 0 100px;
  }
  /* main -> header */
  main > header{
    padding: 0 20px 20px;
  }
  main > header > img{
    width: 370px;
    margin-bottom: 20px;
  }
  h2{
    font-size: 32px;
    line-height: 48px;
  }
  /* * main -> header */
  /* main -> section */
  main > section h3{
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 10px;
  }
  .partners li{
    width: auto;
    margin: 10px;
  }
  /* * main -> section */
  /* aside.news */
  .news h4{
    font-size: 32px;
    line-height: 48px;
  }
  /* * aside.news */
  /* footer */
  
  /* * footer */
  /* aside.map */
  .map{
    background:url('../img/new-map-2x-768x178.jpg') center/cover #502628;
  }
  /* * aside.map */
}
/* * @media screen 768px */